.swiper-container {
    width: 100%;
    height: 4rem;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-pagination-bullet-active {
    background: red!important;
}

.category {
    background: #fff;
    margin-top: 0.2rem;
    width: 100%;
    padding-bottom: 20px;
    overflow: hidden;
}

.category ul {}

.category ul li {
    float: left;
    width: 25%;
    text-align: center;
    margin-top: 20px;
}

.red {
    background: red;
    width: 0.8rem;
    margin: 0 auto;
    height: 0.8rem;
    line-height: 0.8rem;
    text-align: center;
    border-radius: 50%;
}

.icon-huiyuan- {
    color: #fff;
}

.title {
    margin-top: 0.1rem;
}

.article {
    margin-bottom: 60px;
}

.article ul {}

.article ul li {
    background: #fff;
    padding: 0.2rem;
    margin-top: 0.2rem;
}

.article ul li .user-info {}

.article ul li .user-info .user-logo {
    width: 0.4rem;
    height: 0.4rem;
    background: url(https://qq897425998.github.io/lawyer/plan_one/images/logo.png) no-repeat center center;
    border-radius: 100%;
}

.article ul li .user-info .user-name {
    color: #000;
}

.article ul li h4 {
    margin: 0.1rem 0;
    font-size: 0.26rem;
}

.article ul li a {
    color: #000;
}

.article ul li p {
    color: #868484;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.article ul li .user-footer {
    margin: 0.1rem 0;
}

.article ul li .user-info .user-name {}